[submodule "bktbicipublica"]
	path = bktbicipublica
	url = git@git.vauxoo.com:vauxoo/bktbicipublica.git
	branch = 19.0
[submodule "account-analytic"]
	path = account-analytic
	url = git@github.com:Vauxoo/account-analytic.git
	branch = 19.0
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = git@github.com:Vauxoo/purchase-workflow.git
	branch = 19.0
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 19.0
[submodule "maintenance"]
	path = maintenance
	url = git@github.com:OCA/maintenance.git
	branch = 19.0
[submodule "fleet"]
	path = fleet
	url = git@github.com:OCA/fleet.git
	branch = 19.0
[submodule "stock-logistics-request"]
	path = stock-logistics-request
	url = git@github.com:OCA/stock-logistics-request.git
	branch = 19.0
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 19.0
