[submodule "bktbicipublica"]
	path = bktbicipublica
	url = git@git.vauxoo.com:vauxoo/bktbicipublica.git
	branch = 19.0
[submodule "helpdesk"]
	path = helpdesk
	url = https://github.com/OCA/helpdesk.git
	branch = 19.0
